# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Maven build output
target/

# Ignore all .jar files anywhere in the project
*.jar

# (opciono) Ignore folders that might store jars manually
/lib/
/libs/
/dependencies/
